<a href="https://colab.research.google.com/github/mohit-31/cv/blob/main/Daywise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('tempal2.txt', sep=" ",header=None)
df.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec","la")
df_min=pd.read_csv('min_temp.txt', sep=" ",header=None)
df_min.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec","la")

In [3]:

df_w=pd.read_csv('wind_sp.txt', sep=" ",header=None)
df_w.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
df_w;

In [4]:

hum=pd.read_csv('humid.txt', sep=" ",header=None)
hum.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
hum;

In [5]:
cloud=pd.read_csv('cloud.txt', sep=" ",header=None)
cloud.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
cloud;

In [6]:
rain_mi=pd.read_csv('rain_min.txt', sep=" ",header=None)
rain_mi.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
rain_mi;

In [7]:
rainy_day=pd.read_csv('rainy_day.txt', sep=" ",header=None)
rainy_day.columns=('jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec")
rainy_day;

In [8]:
df=df[['jan','f','ma',"ap","mar","jun","jul","aug","sep","oct","nov","dec"]]
df;

In [9]:
df_min=df_min[['jan','f','mar',"ap","ma","jun","jul","aug","sep","oct","nov","dec"]]
df_min;

In [10]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
z = pd.DataFrame(columns = column_names)
z["max_temp(c)"]=df['jan']
z["min_temp(c)"]=df_min['jan']
z["mean_windspeed(km/hr)"]=df_w['jan']
z["re_hum(%)"]=hum['jan']
z["cloud(okta)"]=cloud["jan"]
z["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
z["Mean_rain(mm)"]=rain_mi['jan'];
z["avg._no._rainyday"]=rainy_day["jan"]
z

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          24.6         11.9  ...                0.9    Bhagalpur
1          22.9         10.5  ...                1.2       chapra
2          23.2          9.3  ...                0.8    Darbhanga
3          23.8          8.6  ...                1.6        Dehri
4          23.5          9.4  ...                0.7   Forbesganj
5          23.5          8.9  ...                0.9         Gaya
6          24.8         11.1  ...                0.9        jamui
7          22.4          8.4  ...                1.4     Motihari
8          22.6          9.6  ...                0.9  Muzaffarpur
9          23.3          9.1  ...                1.0        patna
10         24.0          7.8  ...                0.7       Purnea
11         22.8          8.1  ...                1.3       Raxaul
12         23.2          7.8  ...                0.9       Sabour
13         23.7          9.8  ...                0.8       Supaul

[14 rows x 8 columns]

In [11]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
y = pd.DataFrame(columns = column_names)
y["max_temp(c)"]=df['f']
y["min_temp(c)"]=df_min['f']
y["mean_windspeed(km/hr)"]=df_w['f']
y["re_hum(%)"]=hum['f']
y["cloud(okta)"]=cloud["f"]
y["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
y["Mean_rain(mm)"]=rain_mi['f'];
y["avg._no._rainyday"]=rainy_day["f"]
y

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          27.4         14.1  ...                0.9    Bhagalpur
1          26.4         12.5  ...                0.9       chapra
2          25.9         11.3  ...                0.7    Darbhanga
3          26.6         11.2  ...                1.4        Dehri
4          26.1         11.3  ...                0.6   Forbesganj
5          26.8         11.6  ...                0.9         Gaya
6          28.0         13.4  ...                0.7        jamui
7          25.2         10.5  ...                1.1     Motihari
8          25.3         11.8  ...                0.9  Muzaffarpur
9          26.0         11.3  ...                0.8        patna
10         26.7         10.0  ...                0.7       Purnea
11         25.1          9.6  ...                0.4       Raxaul
12         26.1          9.8  ...                1.0       Sabour
13         26.5         11.6  ...                0.8       Supaul

[14 rows x 8 columns]

In [12]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
x = pd.DataFrame(columns = column_names)
x["max_temp(c)"]=df['mar']
x["min_temp(c)"]=df_min['mar']
x["mean_windspeed(km/hr)"]=df_w['mar']
x["re_hum(%)"]=hum['mar']
x["cloud(okta)"]=cloud["mar"]
x["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
x["Mean_rain(mm)"]=rain_mi['mar'];
x["avg._no._rainyday"]=rainy_day["mar"]
x

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          33.6         19.3  ...                0.8    Bhagalpur
1          32.5         17.5  ...                0.7       chapra
2          31.2         15.6  ...                0.7    Darbhanga
3          32.9         15.7  ...                1.1        Dehri
4          31.3         15.6  ...                0.8   Forbesganj
5          33.2         16.4  ...                0.7         Gaya
6          33.4         18.1  ...                0.6        jamui
7          31.0         14.8  ...                1.0     Motihari
8          30.9         16.4  ...                0.6  Muzaffarpur
9          32.3         16.2  ...                0.7        patna
10         32.0         14.5  ...                0.9       Purnea
11         30.9         13.4  ...                0.9       Raxaul
12         32.4         14.4  ...                0.7       Sabour
13         31.4         15.3  ...                0.8       Supaul

[14 rows x 8 columns]

In [13]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
wo = pd.DataFrame(columns = column_names)
wo["max_temp(c)"]=df['ap']
wo["min_temp(c)"]=df_min['ap']
wo["mean_windspeed(km/hr)"]=df_w['ap']
wo["re_hum(%)"]=hum['ap']
wo["cloud(okta)"]=cloud["ap"]
wo["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
wo["Mean_rain(mm)"]=rain_mi['ap'];
wo["avg._no._rainyday"]=rainy_day["ap"]
wo

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          37.5         23.4  ...                1.3    Bhagalpur
1          37.5         23.0  ...                0.7       chapra
2          35.4         20.1  ...                1.4    Darbhanga
3          38.6         20.9  ...                0.9        Dehri
4          34.2         20.6  ...                2.2   Forbesganj
5          38.9         22.5  ...                0.4         Gaya
6          38.8         23.2  ...                0.8        jamui
7          35.3         19.6  ...                0.8     Motihari
8          35.2         21.5  ...                1.1  Muzaffarpur
9          37.2         22.0  ...                0.7        patna
10         35.4         19.7  ...                2.1       Purnea
11         35.2         19.8  ...                0.8       Raxaul
12         36.8         20.7  ...                1.2       Sabour
13         35.8         20.6  ...                1.8       Supaul

[14 rows x 8 columns]

In [14]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
v = pd.DataFrame(columns = column_names)
v["max_temp(c)"]=df['ma']
v["min_temp(c)"]=df_min['ma']
v["mean_windspeed(km/hr)"]=df_w['ma']
v["re_hum(%)"]=hum['ma']
v["cloud(okta)"]=cloud["ma"]
v["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
v["Mean_rain(mm)"]=rain_mi['ma'];
v["avg._no._rainyday"]=rainy_day["ma"]
v

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          37.5         24.8  ...                3.5    Bhagalpur
1          38.4         25.5  ...                1.9       chapra
2          35.6         22.2  ...                3.2    Darbhanga
3          40.5         23.5  ...                1.7        Dehri
4          34.0         23.3  ...                5.5   Forbesganj
5          40.5         25.9  ...                1.2         Gaya
6          40.2         26.1  ...                2.2        jamui
7          35.7         23.0  ...                3.0     Motihari
8          35.6         24.5  ...                3.1  Muzaffarpur
9          38.0         24.9  ...                1.6        patna
10         34.7         22.4  ...                5.7       Purnea
11         35.5         23.3  ...                2.8       Raxaul
12         36.8         23.7  ...                4.1       Sabour
13         35.1         23.1  ...                4.4       Supaul

[14 rows x 8 columns]

In [15]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
u = pd.DataFrame(columns = column_names)
u["max_temp(c)"]=df['jun']
u["min_temp(c)"]=df_min['jun']
u["mean_windspeed(km/hr)"]=df_w['jun']
u["re_hum(%)"]=hum['jun']
u["cloud(okta)"]=cloud["jun"]
u["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
u["Mean_rain(mm)"]=rain_mi['jun'];
u["avg._no._rainyday"]=rainy_day["jun"]
u

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          36.0         26.4  ...                8.2    Bhagalpur
1          36.9         26.9  ...                6.0       chapra
2          34.9         23.8  ...                6.6    Darbhanga
3          38.5         24.6  ...                6.1        Dehri
4          33.1         25.1  ...               10.0   Forbesganj
5          38.0         27.3  ...                5.9         Gaya
6          37.3         27.2  ...                7.3        jamui
7          34.8         25.1  ...                8.5     Motihari
8          34.5         26.3  ...                6.4  Muzaffarpur
9          36.5         26.6  ...                5.3        patna
10         33.7         24.4  ...               10.0       Purnea
11         34.4         25.4  ...                7.5       Raxaul
12         35.2         25.6  ...                8.1       Sabour
13         34.5         24.7  ...                8.3       Supaul

[14 rows x 8 columns]

In [16]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
to = pd.DataFrame(columns = column_names)
to["max_temp(c)"]=df['jul']
to["min_temp(c)"]=df_min['jul']
to["mean_windspeed(km/hr)"]=df_w['jul']
to["re_hum(%)"]=hum['jul']
to["cloud(okta)"]=cloud["jul"]
to["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
to["Mean_rain(mm)"]=rain_mi['jul'];
to["avg._no._rainyday"]=rainy_day["jul"]
to

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          33.1         26.2  ...               13.8    Bhagalpur
1          33.1         26.3  ...               12.8       chapra
2          32.6         24.3  ...               12.5    Darbhanga
3          33.5         23.0  ...               14.9        Dehri
4          31.9         25.5  ...               16.2   Forbesganj
5          33.3         25.8  ...               12.4         Gaya
6          33.3         26.3  ...               13.8        jamui
7          32.4         25.4  ...               13.8     Motihari
8          32.4         26.3  ...               12.8  Muzaffarpur
9          32.9         26.0  ...               12.6        patna
10         32.0         24.8  ...               16.7       Purnea
11         32.2         25.6  ...               12.2       Raxaul
12         32.7         25.5  ...               15.3       Sabour
13         32.5         24.2  ...               14.3       Supaul

[14 rows x 8 columns]

In [17]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
t = pd.DataFrame(columns = column_names)
t["max_temp(c)"]=df['aug']
t["min_temp(c)"]=df_min['aug']
t["mean_windspeed(km/hr)"]=df_w['aug']
t["re_hum(%)"]=hum['aug']
t["cloud(okta)"]=cloud["aug"]
t["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
t["Mean_rain(mm)"]=rain_mi['aug'];
t["avg._no._rainyday"]=rainy_day["aug"]
t

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          32.9         26.3  ...               12.4    Bhagalpur
1          32.5         26.2  ...               12.2       chapra
2          32.7         24.6  ...               10.6    Darbhanga
3          32.6         22.6  ...               14.0        Dehri
4          32.3         25.3  ...               13.3   Forbesganj
5          32.7         25.6  ...               12.2         Gaya
6          32.6         26.1  ...               12.6        jamui
7          32.4         25.5  ...               11.6     Motihari
8          32.6         26.4  ...               11.5  Muzaffarpur
9          32.5         26.0  ...               10.9        patna
10         32.2         24.9  ...               13.8       Purnea
11         32.4         25.6  ...               11.5       Raxaul
12         32.3         25.6  ...               11.6       Sabour
13         32.7         25.0  ...               12.3       Supaul

[14 rows x 8 columns]

In [18]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
s = pd.DataFrame(columns = column_names)
s["max_temp(c)"]=df['sep']
s["min_temp(c)"]=df_min['sep']
s["mean_windspeed(km/hr)"]=df_w['sep']
s["re_hum(%)"]=hum['sep']
s["cloud(okta)"]=cloud["sep"]
s["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
s["Mean_rain(mm)"]=rain_mi['sep'];
s["avg._no._rainyday"]=rainy_day["sep"]
s

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          33.1         25.9  ...                9.8    Bhagalpur
1          32.3         25.7  ...                9.0       chapra
2          32.6         24.3  ...                8.1    Darbhanga
3          32.5         22.3  ...                9.5        Dehri
4          32.0         24.8  ...               10.7   Forbesganj
5          32.6         24.9  ...                8.8         Gaya
6          32.4         25.6  ...               10.2        jamui
7          32.2         24.5  ...                8.8     Motihari
8          32.1         25.4  ...                8.7  Muzaffarpur
9          32.3         25.2  ...                8.6        patna
10         32.1         24.1  ...               11.2       Purnea
11         32.1         24.5  ...                7.8       Raxaul
12         32.3         24.8  ...                9.6       Sabour
13         32.2         24.7  ...                9.8       Supaul

[14 rows x 8 columns]

In [19]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
r = pd.DataFrame(columns = column_names)
r["max_temp(c)"]=df['oct']
r["min_temp(c)"]=df_min['oct']
r["mean_windspeed(km/hr)"]=df_w['oct']
r["re_hum(%)"]=hum['oct']
r["cloud(okta)"]=cloud["oct"]
r["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
r["Mean_rain(mm)"]=rain_mi['oct'];
r["avg._no._rainyday"]=rainy_day["oct"]
r

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          32.4         23.1  ...                3.2    Bhagalpur
1          31.8         22.7  ...                2.6       chapra
2          31.7         21.6  ...                2.2    Darbhanga
3          32.0         18.5  ...                2.8        Dehri
4          31.4         21.7  ...                3.0   Forbesganj
5          31.6         21.0  ...                2.1         Gaya
6          31.6         22.3  ...                2.9        jamui
7          31.5         20.7  ...                2.2     Motihari
8          31.3         21.8  ...                2.2  Muzaffarpur
9          31.6         21.4  ...                2.2        patna
10         31.4         20.6  ...                3.3       Purnea
11         31.2         20.7  ...                1.9       Raxaul
12         31.5         21.3  ...                4.0       Sabour
13         31.6         21.8  ...                2.5       Supaul

[14 rows x 8 columns]

In [20]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
q = pd.DataFrame(columns = column_names)
q["max_temp(c)"]=df['nov']
q["min_temp(c)"]=df_min['nov']
q["mean_windspeed(km/hr)"]=df_w['nov']
q["re_hum(%)"]=hum['nov']
q["cloud(okta)"]=cloud["nov"]
q["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
q["Mean_rain(mm)"]=rain_mi['nov'];
q["avg._no._rainyday"]=rainy_day["nov"]
q

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          30.0         17.8  ...                0.3    Bhagalpur
1          28.9         16.7  ...                0.3       chapra
2          28.9         15.6  ...                0.3    Darbhanga
3          29.4         12.6  ...                0.4        Dehri
4          28.9         15.7  ...                0.3   Forbesganj
5          28.9         14.3  ...                0.5         Gaya
6          29.4         16.7  ...                0.4        jamui
7          28.7         14.4  ...                0.3     Motihari
8          28.7         15.6  ...                0.5  Muzaffarpur
9          28.9         14.9  ...                0.3        patna
10         29.1         14.1  ...                0.5       Purnea
11         28.7         14.3  ...                0.1       Raxaul
12         28.6         14.2  ...                0.1       Sabour
13         29.0         15.6  ...                0.4       Supaul

[14 rows x 8 columns]

In [21]:
column_names = ["max_temp(c)", "min_temp(c)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "Mean_rain(mm)","avg._no._rainyday","district"]
p = pd.DataFrame(columns = column_names)
p["max_temp(c)"]=df['dec']
p["min_temp(c)"]=df_min['dec']
p["mean_windspeed(km/hr)"]=df_w['dec']
p["re_hum(%)"]=hum['dec']
p["cloud(okta)"]=cloud["dec"]
p["district"]=["Bhagalpur","chapra","Darbhanga","Dehri","Forbesganj","Gaya","jamui","Motihari","Muzaffarpur","patna","Purnea","Raxaul","Sabour","Supaul"]
p["Mean_rain(mm)"]=rain_mi['dec'];
p["avg._no._rainyday"]=rainy_day["dec"]
p

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday     district
0          25.8         12.9  ...                0.5    Bhagalpur
1          24.4         11.7  ...                0.6       chapra
2          24.7         10.7  ...                0.5    Darbhanga
3          25.2          8.5  ...                0.6        Dehri
4          25.4         10.6  ...                0.6   Forbesganj
5          24.7          9.5  ...                0.7         Gaya
6          25.9         12.4  ...                0.4        jamui
7          24.4          9.8  ...                0.1     Motihari
8          24.5         10.8  ...                0.4  Muzaffarpur
9          24.5          9.8  ...                0.4        patna
10         25.4          9.0  ...                0.6       Purnea
11         24.5          8.7  ...                0.2       Raxaul
12         24.4          8.7  ...                0.7       Sabour
13         25.1         10.8  ...                0.4       Supaul

[14 rows x 8 columns]

In [22]:
import pandas as pd
list_of_dataframes=[z,y,x,wo,v,u,to,t,s,r,q,p]
df = pd.concat(list_of_dataframes)
df

    max_temp(c)  min_temp(c)  ...  avg._no._rainyday    district
0          24.6         11.9  ...                0.9   Bhagalpur
1          22.9         10.5  ...                1.2      chapra
2          23.2          9.3  ...                0.8   Darbhanga
3          23.8          8.6  ...                1.6       Dehri
4          23.5          9.4  ...                0.7  Forbesganj
..          ...          ...  ...                ...         ...
9          24.5          9.8  ...                0.4       patna
10         25.4          9.0  ...                0.6      Purnea
11         24.5          8.7  ...                0.2      Raxaul
12         24.4          8.7  ...                0.7      Sabour
13         25.1         10.8  ...                0.4      Supaul

[168 rows x 8 columns]

In [23]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
zt=[]  #temperature as of whole district
for i in zip(z["max_temp(c)"],z["min_temp(c)"],z["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              zt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              zt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [24]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(z["mean_windspeed(km/hr)"],z["re_hum(%)"],z["cloud(okta)"],z["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [25]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(z["Mean_rain(mm)"],z["avg._no._rainyday"],z["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [26]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
raw = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

raw['district']=arr
raw["temp(cel)"]=zt
raw["mean_windspeed(km/hr)"]=wind;
raw['re_hum(%)']=humid
raw['cloud(okta)']=cl
raw['rain(mm)']=rain
raw['avg._no._rainyday']=day
raw

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    15.183991               4.189672  ...                0.9  Bhagalpur
1    18.238504               3.021581  ...                0.9  Bhagalpur
2    15.781648               3.803746  ...                0.9  Bhagalpur
3    16.190621               3.038686  ...                0.9  Bhagalpur
4    13.990479               4.627342  ...                0.9  Bhagalpur
..         ...                    ...  ...                ...        ...
429  19.641023               1.827998  ...                0.8     Supaul
430  19.395393               1.762744  ...                0.8     Supaul
431  18.161626               1.190129  ...                0.8     Supaul
432  17.980882               1.487818  ...                0.8     Supaul
433  18.062122               2.997910  ...                0.8     Supaul

[434 rows x 7 columns]

In [86]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
yt=[]  #temperature as of whole district
for i in zip(y["max_temp(c)"],y["min_temp(c)"],y["district"]):
     lt=[]
     for j in range(1,29):
            if(j<14):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              yt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              yt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [87]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(y["mean_windspeed(km/hr)"],y["re_hum(%)"],y["cloud(okta)"],y["district"]):
       for j in range(1,29):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [88]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(y["Mean_rain(mm)"],y["avg._no._rainyday"],y["district"]):
    for j in range(1,29):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [89]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
feb = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(28):
        ld.append(i)
arr=np.array(ld)

feb['district']=arr
feb["temp(cel)"]=yt
feb["mean_windspeed(km/hr)"]=wind;
feb['re_hum(%)']=humid
feb['cloud(okta)']=cl
feb['rain(mm)']=rain
feb['avg._no._rainyday']=day
feb

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    15.443069               4.313927  ...                0.9  Bhagalpur
1    14.713011               4.702374  ...                0.9  Bhagalpur
2    18.702149               4.933011  ...                0.9  Bhagalpur
3    14.702993               5.399113  ...                0.9  Bhagalpur
4    15.627835               4.874948  ...                0.9  Bhagalpur
..         ...                    ...  ...                ...        ...
387  25.100399               5.413017  ...                0.8     Supaul
388  24.434513               4.197079  ...                0.8     Supaul
389  25.838611               4.063611  ...                0.8     Supaul
390  22.633743               3.703444  ...                0.8     Supaul
391  19.375320               5.349192  ...                0.8     Supaul

[392 rows x 7 columns]

In [31]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
xt=[]  #temperature as of whole district
for i in zip(x["max_temp(c)"],x["min_temp(c)"],x["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              xt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              xt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [32]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(x["mean_windspeed(km/hr)"],x["re_hum(%)"],x["cloud(okta)"],x["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [33]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(x["Mean_rain(mm)"],x["avg._no._rainyday"],x["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [34]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
mar = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

mar['district']=arr
mar["temp(cel)"]=xt
mar["mean_windspeed(km/hr)"]=wind;
mar['re_hum(%)']=humid
mar['cloud(okta)']=cl
mar['rain(mm)']=rain
mar['avg._no._rainyday']=day
mar

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    20.962271               6.173624  ...                0.8  Bhagalpur
1    25.852298               6.776635  ...                0.8  Bhagalpur
2    20.982577               6.318740  ...                0.8  Bhagalpur
3    20.450537               6.395836  ...                0.8  Bhagalpur
4    25.791625               5.579493  ...                0.8  Bhagalpur
..         ...                    ...  ...                ...        ...
429  29.897877               9.399539  ...                0.8     Supaul
430  30.923136               9.671581  ...                0.8     Supaul
431  31.245479               9.673971  ...                0.8     Supaul
432  27.672062               9.639629  ...                0.8     Supaul
433  27.436110               9.216178  ...                0.8     Supaul

[434 rows x 7 columns]

In [35]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
wt=[]  #temperature as of whole district
for i in zip(wo["max_temp(c)"],wo["min_temp(c)"],wo["district"]):
     lt=[]
     for j in range(1,31):
            if(j<15):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              wt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              wt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [36]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(wo["mean_windspeed(km/hr)"],wo["re_hum(%)"],wo["cloud(okta)"],wo["district"]):
       for j in range(1,31):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [37]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(x["Mean_rain(mm)"],x["avg._no._rainyday"],x["district"]):
    for j in range(1,31):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [38]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
apr = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(30):
        ld.append(i)
arr=np.array(ld)

apr['district']=arr
apr["temp(cel)"]=wt
apr["mean_windspeed(km/hr)"]=wind;
apr['re_hum(%)']=humid
apr['cloud(okta)']=cl
apr['rain(mm)']=rain
apr['avg._no._rainyday']=day
apr

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    30.186114               6.373707  ...                0.8  Bhagalpur
1    26.916269               6.499561  ...                0.8  Bhagalpur
2    25.245948               7.531326  ...                0.8  Bhagalpur
3    24.580600               7.553091  ...                0.8  Bhagalpur
4    27.479975               7.978471  ...                0.8  Bhagalpur
..         ...                    ...  ...                ...        ...
415  34.831822               8.834243  ...                0.8     Supaul
416  29.385123               8.112205  ...                0.8     Supaul
417  30.336401               8.340417  ...                0.8     Supaul
418  32.248442               7.995271  ...                0.8     Supaul
419  31.801733               8.695620  ...                0.8     Supaul

[420 rows x 7 columns]

In [39]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
vt=[]  #temperature as of whole district
for i in zip(v["max_temp(c)"],v["min_temp(c)"],v["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              vt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              vt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [40]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(v["mean_windspeed(km/hr)"],v["re_hum(%)"],v["cloud(okta)"],v["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [41]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(v["Mean_rain(mm)"],v["avg._no._rainyday"],v["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [42]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
may = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

may['district']=arr
may["temp(cel)"]=vt
may["mean_windspeed(km/hr)"]=wind;
may['re_hum(%)']=humid
may['cloud(okta)']=cl
may['rain(mm)']=rain
may['avg._no._rainyday']=day
may

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    27.442009               7.239119  ...                3.5  Bhagalpur
1    25.021768               7.483231  ...                3.5  Bhagalpur
2    26.009887               6.872069  ...                3.5  Bhagalpur
3    27.936774               7.580218  ...                3.5  Bhagalpur
4    26.612578               6.948259  ...                3.5  Bhagalpur
..         ...                    ...  ...                ...        ...
429  33.666358               8.173106  ...                4.4     Supaul
430  31.445496               9.261256  ...                4.4     Supaul
431  30.869148               8.781437  ...                4.4     Supaul
432  34.221814               7.940717  ...                4.4     Supaul
433  32.435400               8.822745  ...                4.4     Supaul

[434 rows x 7 columns]

In [43]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
ut=[]  #temperature as of whole district
for i in zip(u["max_temp(c)"],u["min_temp(c)"],u["district"]):
     lt=[]
     for j in range(1,31):
            if(j<15):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              ut.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              ut.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [44]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(u["mean_windspeed(km/hr)"],u["re_hum(%)"],u["cloud(okta)"],u["district"]):
       for j in range(1,31):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [45]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(u["Mean_rain(mm)"],u["avg._no._rainyday"],u["district"]):
    for j in range(1,31):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [46]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
jun = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(30):
        ld.append(i)
arr=np.array(ld)

jun['district']=arr
jun["temp(cel)"]=ut
jun["mean_windspeed(km/hr)"]=wind;
jun['re_hum(%)']=humid
jun['cloud(okta)']=cl
jun['rain(mm)']=rain
jun['avg._no._rainyday']=day
jun

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    26.923492               5.629092  ...                8.2  Bhagalpur
1    27.602547               5.910039  ...                8.2  Bhagalpur
2    26.525665               6.601836  ...                8.2  Bhagalpur
3    28.133615               5.997852  ...                8.2  Bhagalpur
4    30.156371               6.077500  ...                8.2  Bhagalpur
..         ...                    ...  ...                ...        ...
415  30.920828               7.769115  ...                8.3     Supaul
416  31.762702               7.136602  ...                8.3     Supaul
417  32.875353               8.253029  ...                8.3     Supaul
418  29.896304               7.325512  ...                8.3     Supaul
419  30.010334               7.346334  ...                8.3     Supaul

[420 rows x 7 columns]

In [47]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
tot=[]  #temperature as of whole district
for i in zip(to["max_temp(c)"],to["min_temp(c)"],to["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              tot.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              tot.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [48]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(to["mean_windspeed(km/hr)"],to["re_hum(%)"],to["cloud(okta)"],to["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [49]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(to["Mean_rain(mm)"],to["avg._no._rainyday"],to["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [58]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
july = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

july['district']=arr
july["temp(cel)"]=tot
july["mean_windspeed(km/hr)"]=wind;
july['re_hum(%)']=humid
july['cloud(okta)']=cl
july['rain(mm)']=rain
july['avg._no._rainyday']=day
july

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    29.404886               6.100476  ...               12.4  Bhagalpur
1    28.510303               5.253099  ...               12.4  Bhagalpur
2    27.136337               4.498764  ...               12.4  Bhagalpur
3    28.130575               4.848229  ...               12.4  Bhagalpur
4    29.563938               5.566370  ...               12.4  Bhagalpur
..         ...                    ...  ...                ...        ...
429  32.150796              10.321872  ...               12.3     Supaul
430  29.320425              10.713962  ...               12.3     Supaul
431  30.330328               9.668838  ...               12.3     Supaul
432  29.945181               9.421496  ...               12.3     Supaul
433  30.311371              10.108382  ...               12.3     Supaul

[434 rows x 7 columns]

In [54]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
tt=[]  #temperature as of whole district
for i in zip(t["max_temp(c)"],t["min_temp(c)"],t["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              tt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              tt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [55]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(t["mean_windspeed(km/hr)"],t["re_hum(%)"],t["cloud(okta)"],t["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [56]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(t["Mean_rain(mm)"],t["avg._no._rainyday"],t["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [59]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
aug = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

aug['district']=arr
aug["temp(cel)"]=tt
aug["mean_windspeed(km/hr)"]=wind;
aug['re_hum(%)']=humid
aug['cloud(okta)']=cl
aug['rain(mm)']=rain
aug['avg._no._rainyday']=day
aug

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    27.096283               6.100476  ...               12.4  Bhagalpur
1    28.585533               5.253099  ...               12.4  Bhagalpur
2    29.359513               4.498764  ...               12.4  Bhagalpur
3    28.115963               4.848229  ...               12.4  Bhagalpur
4    27.826981               5.566370  ...               12.4  Bhagalpur
..         ...                    ...  ...                ...        ...
429  29.702954              10.321872  ...               12.3     Supaul
430  32.314402              10.713962  ...               12.3     Supaul
431  32.491618               9.668838  ...               12.3     Supaul
432  32.588867               9.421496  ...               12.3     Supaul
433  32.655595              10.108382  ...               12.3     Supaul

[434 rows x 7 columns]

In [61]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
st=[]  #temperature as of whole district
for i in zip(s["max_temp(c)"],s["min_temp(c)"],s["district"]):
     lt=[]
     for j in range(1,31):
            if(j<15):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              st.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              st.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [63]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(s["mean_windspeed(km/hr)"],s["re_hum(%)"],s["cloud(okta)"],s["district"]):
       for j in range(1,31):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [65]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(s["Mean_rain(mm)"],s["avg._no._rainyday"],s["district"]):
    for j in range(1,31):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [66]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
sep = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(30):
        ld.append(i)
arr=np.array(ld)

sep['district']=arr
sep["temp(cel)"]=st
sep["mean_windspeed(km/hr)"]=wind;
sep['re_hum(%)']=humid
sep['cloud(okta)']=cl
sep['rain(mm)']=rain
sep['avg._no._rainyday']=day
sep

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    28.159097               4.649905  ...                9.8  Bhagalpur
1    28.854589               4.657157  ...                9.8  Bhagalpur
2    26.275234               4.691923  ...                9.8  Bhagalpur
3    26.277844               5.063143  ...                9.8  Bhagalpur
4    27.516031               4.091630  ...                9.8  Bhagalpur
..         ...                    ...  ...                ...        ...
415  31.365789               7.380246  ...                9.8     Supaul
416  32.164588               7.069041  ...                9.8     Supaul
417  31.328773               6.622916  ...                9.8     Supaul
418  30.901705               6.548497  ...                9.8     Supaul
419  29.788226               7.328265  ...                9.8     Supaul

[420 rows x 7 columns]

In [67]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
rt=[]  #temperature as of whole district
for i in zip(r["max_temp(c)"],r["min_temp(c)"],r["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              rt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              rt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [68]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(r["mean_windspeed(km/hr)"],r["re_hum(%)"],r["cloud(okta)"],r["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [69]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(r["Mean_rain(mm)"],r["avg._no._rainyday"],r["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [70]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
oct = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

oct['district']=arr
oct["temp(cel)"]=rt
oct["mean_windspeed(km/hr)"]=wind;
oct['re_hum(%)']=humid
oct['cloud(okta)']=cl
oct['rain(mm)']=rain
oct['avg._no._rainyday']=day
oct

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    24.196681               2.870653  ...                3.2  Bhagalpur
1    25.101177               4.217123  ...                3.2  Bhagalpur
2    26.925634               3.672208  ...                3.2  Bhagalpur
3    23.223509               2.795259  ...                3.2  Bhagalpur
4    27.260633               3.458350  ...                3.2  Bhagalpur
..         ...                    ...  ...                ...        ...
429  29.313067               4.806384  ...                2.5     Supaul
430  28.268445               4.391899  ...                2.5     Supaul
431  28.127049               5.703657  ...                2.5     Supaul
432  29.561270               4.595941  ...                2.5     Supaul
433  29.310874               4.027962  ...                2.5     Supaul

[434 rows x 7 columns]

In [76]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
qt=[]  #temperature as of whole district
for i in zip(q["max_temp(c)"],q["min_temp(c)"],q["district"]):
     lt=[]
     for j in range(1,31):
            if(j<15):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              qt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              qt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [77]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(q["mean_windspeed(km/hr)"],q["re_hum(%)"],q["cloud(okta)"],q["district"]):
       for j in range(1,31):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [78]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(q["Mean_rain(mm)"],q["avg._no._rainyday"],q["district"]):
    for j in range(1,31):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [79]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
nov = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(30):
        ld.append(i)
arr=np.array(ld)

nov['district']=arr
nov["temp(cel)"]=qt
nov["mean_windspeed(km/hr)"]=wind;
nov['re_hum(%)']=humid
nov['cloud(okta)']=cl
nov['rain(mm)']=rain
nov['avg._no._rainyday']=day
nov

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    21.544295               2.109195  ...                0.3  Bhagalpur
1    20.106318               2.627574  ...                0.3  Bhagalpur
2    18.367739               3.034006  ...                0.3  Bhagalpur
3    22.975410               2.680404  ...                0.3  Bhagalpur
4    21.511733               3.440423  ...                0.3  Bhagalpur
..         ...                    ...  ...                ...        ...
415  26.919856               1.555404  ...                0.4     Supaul
416  28.733242               2.642211  ...                0.4     Supaul
417  27.026098               1.446374  ...                0.4     Supaul
418  25.067794               2.023476  ...                0.4     Supaul
419  27.166055               2.377028  ...                0.4     Supaul

[420 rows x 7 columns]

In [80]:
import random
import numpy as np
lt=[]   #district wise temp
d={} #dict
pt=[]  #temperature as of whole district
for i in zip(p["max_temp(c)"],p["min_temp(c)"],p["district"]):
     lt=[]
     for j in range(1,32):
            if(j<16):
              lt.append(random.uniform(i[1],(i[0]+i[1])/2))
              pt.append(random.uniform(i[1],(i[0]+i[1])/2))
            else:
              lt.append(random.uniform((i[0]+i[1])/2,i[0]))
              pt.append(random.uniform((i[0]+i[1])/2,i[0]))

     arr=np.array(lt)          
     d[i[2]]=lt         
# print(d['Patna']);

In [81]:
wind=[] # wind data list
humid=[]  #humid list
cl=[]   #cloud list

for i in zip(p["mean_windspeed(km/hr)"],p["re_hum(%)"],p["cloud(okta)"],p["district"]):
       for j in range(1,32):
            w=random.uniform(-1,1)
            h=random.uniform(-2,2)
            c=random.uniform(-.2,.2)
            wind.append(i[0]+w)
            humid.append(i[1]+h)
            cl.append(i[2]+c)

In [82]:
rain=[]  #rain list
day=[]    #avg rainy day list
for i in zip(p["Mean_rain(mm)"],p["avg._no._rainyday"],p["district"]):
    for j in range(1,32):
        h=random.uniform(-2,2)
        rain.append(i[0]+h)
        day.append(i[1])

In [84]:
column_names = ["temp(cel)", "mean_windspeed(km/hr)","re_hum(%)","cloud(okta)",
                "rain(mm)","avg._no._rainyday","district"]
dec = pd.DataFrame(columns = column_names)
ld=[]
lt=[]

#for making inserting district name multiple times
for i,j in d.items():

    for j in range(31):
        ld.append(i)
arr=np.array(ld)

dec['district']=arr
dec["temp(cel)"]=pt
dec["mean_windspeed(km/hr)"]=wind;
dec['re_hum(%)']=humid
dec['cloud(okta)']=cl
dec['rain(mm)']=rain
dec['avg._no._rainyday']=day
dec

     temp(cel)  mean_windspeed(km/hr)  ...  avg._no._rainyday   district
0    15.866151               3.950099  ...                0.5  Bhagalpur
1    19.331709               3.639207  ...                0.5  Bhagalpur
2    14.462988               2.843077  ...                0.5  Bhagalpur
3    18.505142               4.190055  ...                0.5  Bhagalpur
4    17.679172               2.779682  ...                0.5  Bhagalpur
..         ...                    ...  ...                ...        ...
429  20.705188               1.710990  ...                0.4     Supaul
430  24.610056               1.920559  ...                0.4     Supaul
431  24.732286               1.574246  ...                0.4     Supaul
432  23.250781               1.503391  ...                0.4     Supaul
433  22.068708               1.539280  ...                0.4     Supaul

[434 rows x 7 columns]